

    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                           
                            <ul class="address_line">
                                <li>+216 90000 565</li>
                                <li><a href="#">Demomail@gmail.Com</a></li>
                                <li>Menzel abd rahemn, Bizerte, Tunisie</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Our Services
                            </h3>
                            <ul class="links">
                                <li><a >Pet Insurance</a></li>
                                <li><a >Pet surgeries </a></li>
                                <li><a >Pet Adoption</a></li>
                                <li><a>Dog Insurance</a></li>
                                <li><a >Dog Adoption</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Quick Link
                            </h3>
                            <ul class="links">
                                <li><a routerLink="/home">Home</a></li>
                                <li><a routerLink="/about">What We do</a></li>
                                <li><a routerLink="/veterinary">veterinary</a></li>
                                
                        
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="assets/img/logo.png" alt="">
                                </a>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </footer>
