<div class="bradcam_area breadcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcam_text text-center">
                    <h3>Edit animal</h3>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
       
        <div class="col-lg-8"  >
            <form id="contactForm" (ngSubmit)="onSubmit()" class="log-form">
              
                  <br>
                  <div class="col-sm-6" >
                    <br>
                    <div class="form-group">
    
                        <input class="form-control valid" name="description"  type="text"  required [(ngModel)]="animal.description" >
                    </div>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" id="submit" class="button button-contactForm boxed-btn" >Edit</button>
                </div> 
            </form>
        
    </div>
 
