<div class="bradcam_area breadcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcam_text text-center">
                    <h3>What we do</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pet_care_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="pet_thumb">
                    <img src="assets/img/about/pet_care.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <div class="pet_info">
                    <div class="section_title">
                        <h3><span>Our </span>Mission</h3>
                        <p>1. To rescue animals in dire need <br>

 

                            2. To provide quality veterinary care & rehabilitation<br>
                            
                             
                            
                            3. To stabilise the stray dog & cat population through spay/neutering programs<br>
                            
                             
                            
                            4. To eradicate rabies, creating a healthier environment for humans and animals<br>
                            
                             
                            
                            5. To provide education & adoption programmes</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testmonial_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="textmonial_active owl-carousel">
                    <div class="testmonial_wrap">
                        <div class="single_testmonial d-flex align-items-center">
                            <div class="test_thumb">
                                <img src="assets/img/testmonial/1.png" alt="">
                            </div>
                            <div class="test_content">
                                <h4>Our story</h4>
                                <span></span>
                                <p>Anipat is an animal service foundation founded in 2011. Our mission is to ensure pets stay in loving homes by using a multi-step approach.  
                                    </p>
                            </div>
                        </div>
                    </div>
                    <div class="testmonial_wrap">
                        <div class="single_testmonial d-flex align-items-center">
                            <div class="test_thumb">
                                <img src="assets/img/testmonial/1.png" alt="">
                            </div>
                            <div class="test_content">
                                <h4>Our story</h4>
                          
                                <p>Anipat supports TNR (trap, neuter, return) for free-roaming cats. We helped implement the first ever Free-Roaming Cat Program in Columbus and support the current Community Cat Program. And we strive to educate the community concerning animal welfare and responsible ownership.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testmonial_wrap">
                        <div class="single_testmonial d-flex align-items-center">
                            <div class="test_thumb">
                                <img src="assets/img/testmonial/1.png" alt="">
                            </div>
                            <div class="test_content">
                                <h4>Our story</h4>
                               
                                <p>We are excited to be helping animals and the people who share their lives with them by our services and outreach. Animal SOS is always looking for volunteers and like-minded people to help in a variety of areas. Donations are welcome and can be designated to the program that interests you. Please contact us if you are interested in helping, so together we can “Answer the Call of Animals in Need”.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>