<div class="bradcam_area breadcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcam_text text-center">
                    <h3>Signup</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12" >
   
    <div class="col-lg-8"  >
        <form id="contactForm"  (ngSubmit)="onSubmit()" class="log-form">
          
              <br>
              <div class="col-sm-6" >
                <br>
                <div class="form-group">

                    <input class="form-control valid" name="nom"[(ngModel)]="user.nom" >
                </div>
            </div>
              <div class="col-sm-6" >
                <br>
                <div class="form-group">

                    <input class="form-control valid" name="prenom" [(ngModel)]="user.prenom">
                </div>
            </div>
            <div class="col-sm-6" >
                    <br>
                    <div class="form-group">

                        <input class="form-control valid" name="email"  type="email" [(ngModel)]="user.email">
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <br>
                    <div class="form-group">

                        <input class="form-control valid" name="mdp"  type="password" [(ngModel)]="user.mdp">
                    </div>
                </div>
          
            <div class="form-group mt-3">
                <button type="submit" class="button button-contactForm boxed-btn">Login</button>
            </div>
        </form>
    </div>
    
</div>

